<p id="notice"><%= notice %></p>

<h1>Spectacles</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Cle representation</th>
      <th>Representation</th>
      <th>Date representation</th>
      <th>Heure representation</th>
      <th>Date fin</th>
      <th>Heure fin</th>
      <th>Prix</th>
      <th>Type</th>
      <th>Filiere</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spectacles.each do |spectacle| %>
      <tr>
        <td><%= spectacle.nom %></td>
        <td><%= spectacle.cle_representation %></td>
        <td><%= spectacle.representation %></td>
        <td><%= spectacle.date_representation %></td>
        <td><%= spectacle.heure_representation %></td>
        <td><%= spectacle.date_fin %></td>
        <td><%= spectacle.heure_fin %></td>
        <td><%= spectacle.prix %></td>
        <td><%= spectacle.type %></td>
        <td><%= spectacle.filiere %></td>
        <td><%= link_to 'Show', spectacle %></td>
        <td><%= link_to 'Edit', edit_spectacle_path(spectacle) %></td>
        <td><%= link_to 'Destroy', spectacle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spectacle', new_spectacle_path %>
